*{
				margin: 0px;
				padding: 0px;
			}
			
			.b{
				background-color: ghostwhite;
			}
			.naver{
				width: 100%;
				height: 80px;
				/*background-color: blue;*/
				/*border: 1px solid black;*/
				background-image: url(../../images/logo.jpg);
			}
			
			.content{
				width: 100%;
				height: 500px;
				background-color: ghostwhite;
				/*position: absolute;*/
				margin-top: 50px;
			}
			.main{
				margin: 0 auto;
				width: 80%;
				height: 480px;
				/*background-color: yellow;*/
				/*border: 1px solid black;*/
				/*position: absolute;*/
			}
			.naver p{
				font-size: 30px;
				color: white;
				text-align: center;
				line-height: 80px;
				
			}
			#fp{
				font-family: "微软雅黑";
				font-size: 30px;
				margin-bottom: 5px;
				color: black;
			}
			.h{
				margin-top: 0px;
			}
			#b1{
				margin-left: 900px;
				width: 70px;
				height: 30px;
				background-color: white;
			}
			.m2{
				margin-top: 60px;
				margin-left: 200px;
			}
			.m2 p{
				font-family: "微软雅黑";
				font-size: 20px;
			}
			input{
				width: 200px;
				height: 22px;
			}
			.footer{
				width: 100%;
				height: 50px;
				/*border: 1px black  solid;*/
				background-image: url(../../images/logo.jpg);
				position: absolute;
				
			}
			.copyright{
	           text-align: center;
				line-height: 50px;
				font-family: "微软雅黑";
				color: white;
			}