<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>ValidateCodeServlet</display-name>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.neuq.web.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.neuq.web.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.neuq.web.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mistakecollect</servlet-name>
    <servlet-class>com.neuq.web.servlet.Mistakecollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mistakecollect</servlet-name>
    <url-pattern>/Mistakecollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.neuq.web.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Selftest</servlet-name>
    <servlet-class>com.neuq.web.servlet.Selftest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selftest</servlet-name>
    <url-pattern>/Selftest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowManagerInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowManagerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowManagerInfo</servlet-name>
    <url-pattern>/ShowManagerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPaper</servlet-name>
    <url-pattern>/ShowPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentInfo</servlet-name>
    <url-pattern>/ShowStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTeacherInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowTeacherInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeacherInfo</servlet-name>
    <url-pattern>/ShowTeacherInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentgrade</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowStudentgrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentgrade</servlet-name>
    <url-pattern>/ShowStudentgrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUserInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserInfo</servlet-name>
    <url-pattern>/ShowUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.neuq.web.servlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.neuq.web.servlet.CheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertquestion</servlet-name>
    <servlet-class>com.neuq.web.servlet.insertquestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertquestion</servlet-name>
    <url-pattern>/insertquestion</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>