<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.neuq.web.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculationBctScore</servlet-name>
    <servlet-class>com.neuq.web.servlet.CalculationBctScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculationBctScore</servlet-name>
    <url-pattern>/CalculationBctScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculationScore</servlet-name>
    <servlet-class>com.neuq.web.servlet.CalculationScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculationScore</servlet-name>
    <url-pattern>/CalculationScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.neuq.web.servlet.CheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CorrectPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.CorrectPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorrectPaper</servlet-name>
    <url-pattern>/CorrectPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.neuq.web.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoExam</servlet-name>
    <servlet-class>com.neuq.web.servlet.DoExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoExam</servlet-name>
    <url-pattern>/DoExam</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ExportExcel</servlet-name>
    <servlet-class>com.neuq.web.servlet.ExportExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcel</servlet-name>
    <url-pattern>/ExportExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertQuestion</servlet-name>
    <servlet-class>com.neuq.web.servlet.InsertQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestion</servlet-name>
    <url-pattern>/InsertQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.neuq.web.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.neuq.web.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MistakeCollect</servlet-name>
    <servlet-class>com.neuq.web.servlet.MistakeCollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MistakeCollect</servlet-name>
    <url-pattern>/MistakeCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.neuq.web.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfTest</servlet-name>
    <servlet-class>com.neuq.web.servlet.SelfTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfTest</servlet-name>
    <url-pattern>/SelfTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowAllPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllPaper</servlet-name>
    <url-pattern>/ShowAllPaper</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ShowCorrectPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowCorrectPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCorrectPaper</servlet-name>
    <url-pattern>/ShowCorrectPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowManagerInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowManagerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowManagerInfo</servlet-name>
    <url-pattern>/ShowManagerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowMygrade</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowMygrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMygrade</servlet-name>
    <url-pattern>/ShowMygrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowNeedPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowNeedPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNeedPaper</servlet-name>
    <url-pattern>/ShowNeedPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPaper</servlet-name>
    <url-pattern>/ShowPaper</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelectClassAndPaper</servlet-name>
    <servlet-class>com.neuq.web.servlet.SelectClassAndPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectClassAndPaper</servlet-name>
    <url-pattern>/SelectClassAndPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQuestionBank</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowQuestionBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionBank</servlet-name>
    <url-pattern>/ShowQuestionBank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentGrade</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowStudentGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentGrade</servlet-name>
    <url-pattern>/ShowStudentGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTeacherInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowTeacherInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeacherInfo</servlet-name>
    <url-pattern>/ShowTeacherInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUserInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.ShowUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserInfo</servlet-name>
    <url-pattern>/ShowUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNotice</servlet-name>
    <servlet-class>com.neuq.web.servlet.UpdateNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNotice</servlet-name>
    <url-pattern>/UpdateNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadBct</servlet-name>
    <servlet-class>com.neuq.web.servlet.UploadBct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBct</servlet-name>
    <url-pattern>/UploadBct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadSelfInfo</servlet-name>
    <servlet-class>com.neuq.web.servlet.UploadSelfInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSelfInfo</servlet-name>
    <url-pattern>/UploadSelfInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCodeServlet</display-name>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.neuq.web.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentFilter</display-name>
    <filter-name>StudentFilter</filter-name>
    <filter-class>com.neuq.web.filter.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/student/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>TeacherFilter</display-name>
    <filter-name>TeacherFilter</filter-name>
    <filter-class>com.neuq.web.filter.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <url-pattern>/teacher/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>com.neuq.web.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/manager/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>