*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: lightblue;
}
.header{
		width:100%;
		height: 80px;
		/*height:20%;*/
		background-image: url('../../images/logo.jpg');
		position:relative;
}
.header p{
		font-size: 30px;
		color: white;
		text-align: center;
		line-height: 80px;
}
#nave{
	/*border:1px solid red;*/
	height:50px;
	/*height: 10%;*/
	width:80%;
	margin: 0 auto;
	position: relative;
}
#nave .td0{
	width: 250px;
	/*border: 1px black solid;*/
	text-align: center;
	line-height: 50px;
}



#nave #tr1{
	text-align: center;
	line-height: 50px;
}
#nave .td1{
	width: 350px;
	/*border: 1px solid black;*/	
}

#nave .td2{
	width: 50px;
	text-align: right;
}
/*#nave .td2 button{
	width: 50px;
	background-color: deepskyblue;
}*/
#main{
	height: 800px;
	width: 70%;
	border: 1px solid cornflowerblue;
	margin: 0 auto;
	box-shadow: 0px 0px 8px cornflowerblue;
	position: relative;
}
#tab1{
	margin-top: 20px;
	margin-left: 20px;
	border-spacing: 10px;
	border: 1px solid gainsboro;
	
}

.xz,.tk,.bc{
	height: 50px;
	/*border: 1px solid red;*/
	font-size: 20px;
	font-weight: 500;
}
#xz_title,.tk_title,.bc_title{
	/*border: 1px solid red;*/
	/*border: 1px solid red;*/
	font-size: 18px;
	height: 20px;
}
.xz_choose{
	width: 50px;
	/*border: 1px solid red;*/
	height: 20px;
	font-size: 16px;
}
.xz_con{
	/*border: 1px solid red;*/
	width: 820px;
}
/*填空*/
#tab2{
	margin-top: 20px;
	margin-left: 20px;
	border-spacing: 10px;
	border: 1px solid gainsboro;
	width:850px;
}
.tk_title,.bc_title{
	width: 880px;
}
/*编程*/
#tab3{
	margin-top: 20px;
	margin-left: 20px;
	border-spacing: 10px;
	border: 1px solid gainsboro;
	width:850px;
}
#footer{
	width:100%;
	height:50px;
	background-image: url('../../images/logo.jpg');
	position:relative;
	
}
.copyright{
	position:absolute;
	top:20px;
	left:500px;
}
.top{
	width:54px;
	height:54px;
	position:fixed;
	right:0px;
	bottom:20px;
}